environment:
  matrix:
  - nodejs_version: "0.10"
    platform: x64
  - nodejs_version: "0.10"
    platform: x86
  - nodejs_version: "0.12"
    platform: x64
  - nodejs_version: "0.12"
    platform: x86
  - nodejs_version: "4"
    platform: x64
  - nodejs_version: "4"
    platform: x86
  - nodejs_version: "5"
    platform: x64
  - nodejs_version: "5"
    platform: x86
  - nodejs_version: "6"
    platform: x64
  - nodejs_version: "6"
    platform: x86
  - nodejs_version: "7"
    platform: x64
  - nodejs_version: "7"
    platform: x86
  - nodejs_version: "8"
    platform: x64
  - nodejs_version: "8"
    platform: x86

install:
  - where npm
  - where node
  - ps: Install-Product node $env:nodejs_version $env:platform
  - 'if %nodejs_version% lss 4 npm install -g npm@2'
  - 'if %nodejs_version% geq 4 npm install -g npm@latest'
  - 'if "%nodejs_version%_%platform%" == "4_x86" (npm config set -g cafile=package.json && npm config set -g strict-ssl=false)'

build: off

artifacts:
  - path: 'build/stage/**/bcrypt*.tar.gz'  

test_script:
  - node --version
  - npm --version
  - npm test

after_test:
  - .\node_modules\.bin\node-pre-gyp package
